/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
}


header {
    background-color: #faeddf;
    padding: 10px;
    padding-bottom: 0px;
}



nav ul {
    list-style-type: none;
    float: right;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
   
}

nav ul li a {
    text-decoration: none;
    color: #f4a620;
    font-family: CooperBT,Times,Times New Roman,serif;
    font-weight: 500;
    font-size: 1.5rem;

}

a:hover {
    color:#0e5540;
  }

.icon{
    float: left;
}
.icon2{
    padding-bottom: 40px;
}

img.pie {
    width: 60px;
}

    .hero {
        padding-top: 20%;
        background-image: url('https://greatjonesgoods.com/cdn/shop/files/Valentines_Homepage_Mobile_768x1024_crop_center@2x.jpg?v=1706195996');
        background-size: cover;
        background-position: center;
        text-align: center;
        justify-content: center;
        color: #fff;
        height: 100vh;
        object-fit: cover;
        line-height: 4.6;
        font-family: CooperBT,Times,Times New Roman,serif;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.214em;
        /* display: grid; */
    }


.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.main {
    padding: 20px;
}


.info{
    background-color:#0e5540;
    width: 100%;
    height: 60vh;
    color: #f4a620;
    font-family: CooperBT,Times,Times New Roman,serif;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.214em;
}


.line {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21vh;
    max-width: 70%;
    text-align: center;
    padding-left: 20%;

}

.cookie {
    position: relative;
    top: 5%;
    left: 87%;
    min-width: 5rem;
}
.teapot {
    position: relative;
    top: 10px;
    min-width: 5rem;
    max-height: 30vh;
}

.products {
    display: flex;
    background-color: #faeddf;
    color: black;
    flex-direction: column;
    padding: 10%;
    height: 230vh;
}

.our-product{
    color: #f4a620;
    font-family: CooperBT,Times,Times New Roman,serif;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.214em;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #0e5540;
    padding: 10px;
    max-width: 100%;
    height: 170vh;
    
  }

  .grid-container > div >img {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 30px;
  }

  .item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end:4;
  }

  .section-float{
    width: 100%;
    height: 60vh;
    background-color: #f4a620;
  }


  .section-float img {
    width: 70%;
    height: 60vh;
}

.section-float div{
    float: right;
}

.section-float p {
    
    padding-top: 20px;
    font-size: x-large;
    border-bottom: 1px solid #ccc;
}

.section-float h3 {
    padding-top: 40px;
    width: 280px;
    height: 40vh;
}

.section-coming{
    width: 100%;
    height: 94vh;
    background-color: #faeddf; 
    color: #f4a620;
    font-family: CooperBT,Times,Times New Roman,serif;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.214em;
    padding-top:50px;
    border-bottom: 1px solid #ccc;
}

.box {
    width: 80%;
    height: 60vh;
    background-color:#0e5540;
    margin: 50px 100px 50px 100px;
    display: flex;
    padding: 20px 30px;
    flex-wrap: wrap;
    border-radius: 20px;
}

.inside1, .inside2, .inside3 {
    height: 70%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    border: 10px solid #faeddf;
    margin: 10px;
    border-radius: 20px;
}

.inside1 > img{
    width: 100%;
}

.inside2 >img{
    width:100%;
}

.inside3 >img {
    width:100%;
}

.about-them {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    border:2px solid #faeddf ;
    
}




.line-inside1, .line-inside2, .line-inside3 {
    background: #faeddf;
    height: 100%;
    width: 200px;
    text-align: center;
    border-radius: 20px;
}





.right {
    position: relative;
    width: 15rem;
    height: 30vh;
    left: -30rem;
}

.left {
    position: relative;
    width: 4rem;
    height: 30vh;
    top: 8rem;
    left: -8rem;
}

left {
    position: relative;
    height: 18vh;
    top: 11rem;
    left: 10rem;
    max-width: fit-content;
    box-sizing: border-box;
}




.product {
    width: 30%;
    margin-bottom: 30px;
}

.product img {
    width: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
